    .root{
      max-width: 345px;
    }
    .media {
      height:140px;
      width:100%;
      padding-top: '56.25%'; // 16:9
    }
    .title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}
.card__container {
  max-width: 345px;
  min-width: 320px;
  margin: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  min-height:300px;
}

.pic {
  height: 140px;
}
   
