    .root {
      max-width: 345px;
    }

    .media {
      height: 140px;
      width: 100%;
      margin: 20px auto;
    }

    .MuiCardContent-root {
      padding: 4px !important;

    }

    .card__container {
      max-width: 345px;
      min-width: 320px;
      margin: 20px auto;
      transition: color 0.15s ease, border-color 0.15s ease;
      min-height: 340px;
    }

    .pic {
      height: 140px;
    }

    @media (min-width:480px) {}